body {
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
}

#app {
    display: grid;
    grid-template: 'hl'
        'zip'
        'feel'
        'feel'
        'entry'
        'entry'
        'entry'
        'entry';
    grid-auto-rows: minmax(150px, auto);
    height: 100vh;
    background: linear-gradient(to bottom right, #33ccff 0%, #ff99cc 100%);
    color: #ffffff;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.holder {
    height: 60%;
}

.entry {
    grid-area: entry;
    background: rgba(59, 74, 107, .4);
    padding: 20px;
}

.feel {
    grid-area: feel;
}

.zip {
    grid-area: zip;
}


#entryHolder {}

#date {}

#temp {}

#content {}

.headline {
    grid-area: hl;
    font-size: 40px;
    color: blue;
}

.title {
    color: orange;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
    display: block;
    font-size: 27px;
}

input {
    display: block;
    height: 60px;
    width: 320px;
    background: #22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    padding: 20px;
}

button {
    width: 200px;
    height: 100px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    cursor: pointer;
}

h1 {
    font-size: 36px;
}

textarea {
    background: #22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    padding: 20px;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Style for Placeholder Text*/
::placeholder {
    /* Firefox, Chrome, Opera */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}

button:hover {
    background-color: green;
}